---
import "../styles/global.css";
import "../styles/menu.css";

const { frontmatter } = Astro.props;
const direction = frontmatter?.direction || 'ltr';
---

<html dir={direction}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/astro-cocktail-menu/favicon.ico" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>